@page "/NewPassword/{uuid}"
@model FoodieFinderPasswordRecoveryServer.Pages.NewPasswordModel

<script>
    function formValidate() {
        if (newPassword.value.length == 0 || newPasswordRepeated.value.length == 0) {
            alert("Error: You have not entered new password!");
            return false;
        }

        if (newPassword.value != newPasswordRepeated.value) {
            alert("Error: Passwords are not the same!");
            return false;
        }

        return true;
    }
</script>

<form asp-page="/SaveNewPassword" method="post" onsubmit="return formValidate();">
    <div class="border-container">
        <h1 class="form-title">Reset your password</h1>

        <h3 id="email" class="form-title">@Model.UserData.Email</h3>

        <script>
            if (email.innerHTML.length > 30) {
                email.innerHTML = email.innerHTML.slice(0, 27) + "...";
            }
        </script>

        <div class="center-container">
            <div class="password-input">
                <p>Password</p>
                <input id="newPassword" placeholder="Enter new password here" type="password" name="newPassword">
            </div>

            <div class="password-input">
                <p>Confirm password</p>
                <input id="newPasswordRepeated" placeholder="Enter new password here again" type="password">
            </div>
        </div>

        <input type="hidden" name="uuid" value="@Model.PasswordRecoveryData.UUID" />

        <button type="submit" class="submit-button">Reset password</button>
    </div>
    @*<p>Your email: <b>@Model.UserData?.Email</b></p>
    <input id="newPassword" placeholder="Enter new password here" type="password" name="newPassword" /><br />
    <input id="newPasswordRepeated" placeholder="Enter new password here again" type="password" /><br />
    <input type="hidden" name="uuid" value="@Model.PasswordRecoveryData.UUID" />
    <button type="submit">Change password</button>*@
</form>
