@page "/PasswordRecovery/NewPassword/{uuid}"
@model FoodieFinderPasswordRecoveryServer.Pages.NewPasswordModel

<script>
    function formValidate() {
        if (newPassword.value.length == 0 || newPasswordRepeated.value.length == 0) {
            alert("Error: You have not entered new password!");
            return false;
        }

        if (newPassword.value != newPasswordRepeated.value) {
            alert("Error: Passwords are not the same!");
            return false;
        }

        return true;
    }
</script>

<form asp-page="/SaveNewPassword" method="post" onsubmit="return formValidate();">
    <p>Your email: <b>@Model.UserData?.Email</b></p>
    <input id="newPassword" placeholder="Enter new password here" type="password" name="newPassword" /><br />
    <input id="newPasswordRepeated" placeholder="Enter new password here again" type="password" /><br />
    @*<input type="hidden" name="uuid" value="@Model.PasswordRecoveryData.UUID" />*@
    <button type="submit">Change password</button>
</form>
