@page
@model FoodieFinderPasswordRecoveryServer.Pages.PasswordChangedModel

<div class="border-container">
    <h1 class="form-title">Password changed!</h1>

    <div class="center-container">
        <div class="completed-image"></div>
    </div>

    @*<button class="submit-button" onclick="window.open('','_self').close();">Close page</button>*@
</div>